/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.vercel
/public/assets/img/rg_aluno
/public/assets/img/rg_responsavel
/public/assets/img/perfil
